html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #2F4F4F;
}

body {
  margin: 0;
}

.people {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: center;
  gap: 40px 30px;

  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, 200px);
  }

  &__person {

  }

  &__photo-card {
  }

  &__photo-img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  &__rank {

  }

  &__details {

  }

  &__extra {

  }

  &__sport {

  }

  &__pay {

  }
}